.item-container {
  position: relative;
  width: 100%;
  display: flex;
  background-color: var(--bg-color);
  flex-direction: column;
  padding: 15px;
}

.img-placeholder {
  height: 162px;
}

.img-placeholder svg {
  height: 30px;
  position: relative;
  left: calc(50% - 15px);
  top: calc(50% - 15px);
}

.img-placeholder svg path {
  fill: var(--main-blue);
}

.item-container img {
  width: 100%;
}

.item-name {
  text-align: center;
  color: var(--fg-color);
  margin-top: 8px;
  margin-bottom: 12px;
  float: left;
  height: 44px;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.remove-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}
