.item-container {
  position: relative;
  width: 100%;
  display: flex;
  background-color: white;
  flex-direction: column;
  padding: 15px;
}

.item-container img {
  width: 100%;
}

.item-name {
  text-align: center;
  color: black;
  margin-top: 8px;
  margin-bottom: 12px;
  float: left;
  height: 44px;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.remove-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}
