.list-container {
  display: grid;
  grid-gap: 11px;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.more-btn {
  grid-column: 1/3;
  width: 50%;
  margin-top: 15px;
  padding: 10px 12px;
  background-color: #006fe0;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 3px;
}

.more-btn:active {
  background-color: white;
  color: #006fe0;
}

.list-container p {
  grid-column: 1/3;
}

@media only screen and (min-width: 768px) {
  .list-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .list-container p,
  .more-btn {
    grid-column: 1/4;
  }
}
