.add-btn {
  background-color: white;
  border: 1px solid #0070e0;
  color: #0070e0;
  font-size: 0.8rem;
  border-radius: 3px;
  margin: 16px 5px 5px 5px;
  height: 32px;
}

.add-btn:active {
  background-color: #0070e0;
  color: white;
}

@media only screen and (min-width: 768px) {
  .add-btn {
    margin: 16px auto 5px auto;
    padding: 0 25px;
  }
}
