.price-container {
  color: var(--main-blue);
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
}

.original-price {
  color: var(--fg-color);
  font-size: 0.8rem;
  font-weight: initial;
  text-decoration: line-through;
}
